@font-face {
  font-family: matrix;
  src: url("../fonts/matrix.ttf");
  src: url("../fonts/matrix.ttf") format("truetype")
}

@font-face {
  font-family: mono;
  src: url('../fonts/\'\ Mono\ Regular.ttf');
  src: url('../fonts/\'\ Mono\ Regular.ttf') format ('truetype');
  font-weight: normal
}

@font-face {
  font-family: mono;
  src: url('../fonts/\'\ Mono\ Bold.ttf');
  src: url('../fonts/\'\ Mono\ Bold.ttf') format ('truetype');
  font-weight: bold
}

@font-face {
  font-family: mono;
  src: url('../fonts/\'\ Mono\ Light.ttf');
  src: url('../fonts/\'\ Mono\ Light.ttf') format ('truetype');
  font-weight: 100
}

body {
  background-color: rgb(38, 27, 17);
}

p {
  font-family: mono, monospace;
  font-weight: lighter;
  color: sandybrown;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header p{
  font-family: matrix, serif;
  font-size: xx-large;
  color: rgb(159, 181, 211);
}

li {
  float: right;
}

li a {
  display: block;
  color: sandybrown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: mono, monospace;
}

li a:hover {
  background-color: #111;
}

footer {
  font-family: mono, monospace;
  text-align: center;
}

section img {
  width: 10rem;
  height: 10rem;
  object-fit: cover
}

